<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">

<h1><%= @game.player_1.name %> has attacked <%= @game.player_2.name %></h1>

<form action="/switch_player" method="post">
  <input type="submit" value="OK">
</form>
