<form>
  <h1>Battle!</h1>
  <h2>PLayers, please enter your names</h2>
  <label>
    Player 1
    <input type="text" name="player_1" />
  </label>
  <label>
    Player 2
    <input type="text" name="player_2" />
  </label>
  <label>
    Enter Names
    <input type="submit" name="submit" />
  </label>
</form>
